#History{

    /* border: 5px dotted; */
    /* ______________________________________________________________ */
    top: 122px;
    left: 417px;
    width: 766px;
    height: 680px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
    /* border: 1px red solid; */
    

}
#title{
      /* margin: auto; */
      margin-left: 20px;
  padding: 10px;
  font-family: Arial, sans-serif;

}
#Chart{
    /* _____________________________________________________ */
    top: 215px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    /* justify-content: space-evenly; */
    left: 437px;
    width: 726px;

    height:fit-content;
    background: #F4F0FE 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1
}
nav{
    display: flex;
    justify-content: space-between;
}
#Line{
    width: 70%;
    display: block;
    display: flex;
    margin: 0%;
    height: 90%;

}
#container{
    width: max (300px) px;
    height: 350px;
    justify-content: last baseline;
    
    /* border: 1px solid rgb(14, 17, 192); */
    /* overflow-x: scroll red; */
    margin: auto;
    height: min-content;
    padding: 40px;
    height: fit-content;
    margin-top: 100px;

}
  
  #month_select {
    padding: 0.5rem;
    width: 130px;
    border-radius: 5px;
    font-size: 1rem;
    
  }
  /* scroll bar properties________________________________________________________________ */
#month_select::-webkit-scrollbar {
    top: 215px;
    left: 375px;
    width: 5px;
  }
  
  #month_select::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
  }
  
  #month_select::-webkit-scrollbar-thumb {
    background: #000000bd 0% 0% no-repeat padding-box; 
    border-radius: 3px; 
  }
  
  

  
#chartLegend{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    padding: 0px 30px;

}



#systolicDot,#diastolicDot{

    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
#systolicDot{
    background: #E66FD2;

    
}
#diastolicDot{
    background: #8C6FE6;
}
#systo{
    font-size: x-large;
    margin-left: 30px;
   
}
#sis{
    width: 150px;
    font-size: medium;
}


#box>.Heart{
    background: #FFE6F1 0% 0% no-repeat padding-box;    
}
#box>.Tempreture{
    background:#FFE6E9 0% 0% no-repeat padding-box;
}
#box>.Lungs{
    background:#E0F3FA 0% 0% no-repeat padding-box;
}
#boxs{
    top: 533px;
    left: 437px;
    width: 228px;
    height: 242px;
    border-radius: 12px;
    opacity: 1;
}
#box{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}
#Logo{
    margin: 20px;
    border-radius: 50px;
    top: 549px;
    left: 453px;
    width: 96px;
    height: 96px;
    background: transparent url('img/respiratory rate.png') 0% 0% no-repeat padding-box;
    opacity: 1;

}
#p1{
    height: 22px;
    font-weight: 1000;
    margin-left: 20px;
    text-align: start;
    font: 16px;
    color: #072635;
    text-transform:capitalize;
    opacity: 1;
}
#b1{
    margin-left: 20px;
    top: 682px;
    left: 702px;
    width: 95px;
    height: 41px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-800) 30px/41px var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    text-align: left;
    font: normal normal 800 30px/41px Manrope;
    letter-spacing: 0px;
    color: #072635;
    opacity: 1; 
}
#p2{
    height: 19px;
    font-weight: 1000;
    margin-left: 20px;
    text-align: start;
    font: 16px;
    color: #072635;
    text-transform:capitalize;
    opacity: 1;
}



  

