#Lab{

    margin-top: 20px;
    top: 880px;
    left: 1215px;
    width: 367px;
    height: 296px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
  
}
#title {
    margin: auto;
    padding: 10px;
    font-family: Arial, sans-serif;
  
  }
  #profile_pictures_container{
    height: 200px;
    flex-direction: column;
    height: 200px;
    /* border: 1px darkturquoise dotted; */
    position: relative;
    padding: 10px;
    margin: auto;
    justify-content: flex-start;
    overflow-x:hidden;

}

/* scroll bar properties________________________________________________________________ */
#profile_pictures_container::-webkit-scrollbar {
  top: 215px;
  left: 375px;
  width: 6px; /* Width of the scrollbar */
  height: 941px; /* Height of the horizontal scrollbar (if any) */
}

#profile_pictures_container::-webkit-scrollbar-track {
  background: #ffffff; /* Color of the scrollbar track */
  border-radius: 10px; /* Rounded corners on the track */
}

#profile_pictures_container::-webkit-scrollbar-thumb {
  background: #000000bd 0% 0% no-repeat padding-box; /* Color of the scrollbar thumb */
  border-radius: 3px; /* Rounded corners on the thumb */
}

#Result{
    justify-content: space-between;
    margin: 10px;
    top: 994px;
    left: 1237px;
    list-style: none;
    display: flex;
    width: 315px;
    height: 40px;
    background: #F6F7F8 0% 0% no-repeat padding-box;
    opacity: 1
}

