#Content{
    display: flex;
    justify-content: space-between;
    max-width: 1550px;
    height: 1090px;
    margin: 10px;
    /* ___________________________________________ */
    background-image: url("https://img.freepik.com/free-vector/heartbeat-graph-background_1394-1020.jpg?t=st=1734397886~exp=1734401486~hmac=d2d8d10b68c0d123e3c4e5ba37297d2091761eb34f2a049de42396f457ef3321&w=740");
    background-repeat: no-repeat;
    background-size: 100%;
    transition: transform 0.9s ease, background-color 0.3s ease;

}


/* _____________________________________________________ */
/* Base styling */
#login_container {
    width: 15vw;
    height: 15vh;
    margin: auto;
    padding: 200px;
    position: relative;
    border: 1px solid skyblue;
    border-radius: 40% 0% ;
    box-shadow: 10px 4px 8px rgba(200, 35, 35, 0.1);
    background-image: url(./src/assets/XdLogo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    backface-visibility: hidden;
    box-shadow: 10px 15px 15px skyblue;
    
    
  }
  
  #form_group_username, #form_group_password {
    margin-bottom: 15px;
  }
  
  #form_group_username label, #form_group_password label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  #form_group_username input, #form_group_password input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  #submit_button {
    /* width: 100%; */
    padding: 10px;
    background-color: #074a09;
    color: white;
    align-items: center;
    justify-content: center;
    
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background_color 0.3s ease_in_out;
  }
  
  #submit_button:hover {
    background-color: #27a952;
  }
  
  #success_message {
    color: rgb(27, 55, 27);
    margin-top: 10px;
    text-align: center;
  }
  
  #error_message {
    color: red;
    margin-top: 10px;
    text-align: center;
  }

  
  /* Media Queries for Responsive Design */
  
  /* For tablets and smaller screens */
  @media (max_width: 768px) {
    #login_container {
      width: 95%;
      padding: 15px;
    }
  
    #form_group_username input, #form_group_password input {
      padding: 8px;
      font-size: 14px;
    }
  
    #submit_button {
      padding: 8px;
      font-size: 14px;
    }
  }
  
  /* For mobile devices */
  @media (max_width: 480px) {
    #login_container {
      margin: 30px auto;
      padding: 10px;
      box-shadow: none;
      border: none;
    }
  
    h2 {
      font-size: 20px;
      text-align: center;
    }
  
    #form_group_username, #form_group_password {
      margin-bottom: 10px;
    }
  
    #form_group_username input, #form_group_password input {
      padding: 6px;
      font-size: 12px;
    }
  
    #submit_button {
      padding: 6px;
      font-size: 12px;
    }
  
    #success_message, #error_message {
      font-size: 12px;
    }
  }
  

